<nav class="navbar navbar-default navbar-static-top navbar-inverse">
    <div class="container">
        <ul class="nav navbar-nav">
            <li class="active">
                <a href="/"><span class="glyphicon glyphicon-home"></span> Car Share </a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="/create_ride"><span class="glyphicon glyphicon-plus-sign"></span> Offer a ride</a>
            </li>
            <li>
                <a href="/available_rides"><span class="glyphicon glyphicon-plus-sign"></span> Find a ride</a>
            </li>
            <li class="navbar-right">
                <a href="/logout"><span class="glyphicon glyphicon-user"></span> Logout</a>
            </li>
        </ul>

    </div>
</nav>
